:root {
    --white: #dfdfdf;
    --black: #181818;
    --dark-gray: #212221;
    --soft-blue: #cacce1;
    --soft-neon-yellow: #edff8c;
}

* {
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
}

/* ------------------------------------------------------------------------------- */
/* MAIN */
/* ------------------------------------------------------------------------------- */
body::-webkit-scrollbar {
    display: none;
}

body {
    height: 100%;
    background: var(--black);
    /* padding: 0 3em 2em 1em;  */
    padding: 0 3em 0 1em; 
}
/* ------------------------------------------------------------------------------- */
/* Navigation Section */
/* ------------------------------------------------------------------------------- */
.sidebar {
    margin: 1em .7em;
    padding: 1em 0 1em 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 97%;
    width: 3.5em;
    border: solid #2f2f31 .5px;
    border-radius: 10px;
    background: var(--dark-gray);
    /* backdrop-filter: blur(3px);
    filter: url(#glass-distortion); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo-button {
    margin-top: 1.5em;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    /* align-items: space-between; */
    position: fixed;
    bottom: 3em;
    gap: 2em;
}

.nav-list li {
    text-decoration: none;
    margin: .5em 0;
}

.socials-nav {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
}

/* ------------------------------------------------------------------------------- */
/* Project Section */
/* ------------------------------------------------------------------------------- */

.breakpoint {
    border: var(--dark-gray) 1px solid;
    /* margin: 1.7em 2.4em 1.7em 0; */
    margin-right: 2.4em;
}

.project-item {
    margin: 1.7em 0;
    padding: 0 1em 0 2em;
    display: grid;
    grid-template-columns: 2fr 5fr;
    /* border-top: var(--dark-gray) 1px solid;
    border-bottom: var(--dark-gray) 1px solid; */
}

.project-title {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.project-quick-info {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

.project-media-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .8em;
}

.project-media {
    max-width: 200px;
    max-height: 200px;
}

.project-links a {
    text-decoration: none;
}

.button-call-to-action {
    background: var(--white);
    border: none;
    color: var(--black);
    padding: .5em 1.8em;
    margin-right: 1em;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
}

.button-call-to-action:hover {
    background: var(--soft-neon-yellow);
}