:root {
    --white: #dfdfdf;
    --black: #181818;
    --washed-black: #151a1a;
    --dark-gray: #212221;
    --soft-blue: #cacce1;
    --soft-neon-yellow: #edff8c;

    --blue-gray: #b6bec8;
    /* gradient */
    --gd1: #d2d4d5;
    --gd2: #a9abb0;
    --gd3: #bdbdc6;
    --neon-green: #a8ff1a;
}

* {
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
}

/* ------------------------------------------------------------------------------- */
/* MAIN */
/* ------------------------------------------------------------------------------- */
body::-webkit-scrollbar {
    display: none;
}

body {
    padding: 0 3em 0 1em; 
	background-size: 400% 400%;
	height: 100vh;
    background: var(--black);
    /* background: linear-gradient(-45deg, var(--gd1), var(--gd2), var(--gd3)); */
}

/* ------------------------------------------------------------------------------- */
/* NAVIGATION BAR */
/* ------------------------------------------------------------------------------- */
.sidebar {
    margin: 1em .5em;
    padding: 1em 0 1em 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 97%;
    width: 3.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border: solid #2f2f31 .5px;
    border-radius: 10px;
    background: var(--dark-gray);
}

#logo-button {
    margin-top: 1.5em;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    /* align-items: space-between; */
    position: fixed;
    bottom: 3em;
    gap: 2em;
}

.nav-list li {
    text-decoration: none;
    margin: .5em 0;
}

.socials-nav {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
}

/* ------------------------------------------------------------------------------- */
/* PROJECT SECTION */
/* ------------------------------------------------------------------------------- */

.breakpoint {
    border: #9ca3a6 1px solid;
    opacity: .1;
    margin-right: 1.8em;
}

.project-item {
    margin: .5em 2em .5em 0;
    padding: 1em 1em 1em 2em;
    display: grid;
    grid-template-columns: 2fr 5fr;
    border-radius: 20px;
}

.project-title {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.project-quick-info {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

.project-media-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .8em;
}

.project-media {
    max-width: 200px;
    max-height: 200px;
}

.project-links a {
    text-decoration: none;
}

.button-call-to-action {
    background: var(--white);
    border: none;
    color: var(--black);
    padding: .5em 1.8em;
    margin-right: 1em;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
}

.button-call-to-action:hover {
    background: var(--soft-neon-yellow);
}


/* ------------------------------------------------------------------------------- */
/* ABOUT ME SECTION */
/* ------------------------------------------------------------------------------- */
