:root {
    /* --white: #dfdfdf; */
    --white: #afbbbd;
    /* --black: #181818; */
    --black: #111111;
    /* --washed-black: #151a1a; */
    --dark-gray: #212221;
    --light-gray: #808080;
    --soft-blue: #cacce1;
    --soft-neon-yellow: #f8f801;
    --neon-yellow: #fff001;
    --neon-green: #c8fe07;
    /* --soft-red: #fd4d5a; */
    --soft-red: #ff001e;
    --red: #f30e0f;
    --soft-green: #27a888;
    --royal-blue: #2c61ff;
    --yellow: #fd8b03;
    --orange: #f76005;
    --orange: #ff4807;

    --blue-gray: #b6bec8;
    /* gradient */
    --gd1: #d2d4d5;
    --gd2: #a9abb0;
    --gd3: #bdbdc6;
    --neon-green: #a8ff1a;
}

* {
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
}

::selection {
    background: #a5b8c8;
    color: var(--black);
}

/* ------------------------------------------------------------------------------- */
/* MAIN */
/* ------------------------------------------------------------------------------- */
body::-webkit-scrollbar {
    display: none;
}

body {
    padding: 0 3em 0 1em; 
	background-size: 400% 400%;
	height: 100vh;
    background: var(--black);
}

/* ------------------------------------------------------------------------------- */
/* MEDIA QUERIES */
/* ------------------------------------------------------------------------------- */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/* ------------------------------------------------------------------------------- */
/* NAVIGATION BAR */
/* ------------------------------------------------------------------------------- */
.sidebar {
    margin: 1em .5em;
    padding: 1em 0 1em 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 97%;
    width: 3.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    /* border: solid #2f2f31 .5px;
    border-radius: 10px;
    background: var(--dark-gray);
    background: #191919; */
}

#logo-button {
    margin-top: 1.5em;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    /* align-items: space-between; */
    position: fixed;
    bottom: 3em;
    gap: 2em;
}

.nav-list li {
    text-decoration: none;
    margin: .5em 0;
}

.socials-nav {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
}

/* ------------------------------------------------------------------------------- */
/* PROJECT SECTION */
/* ------------------------------------------------------------------------------- */

.breakpoint {
    border: #9ca3a6 1px solid;
    opacity: .1;
    margin-left: 3.5em;
}

.project-item {
    margin: .5em 0 .5em 2em;
    padding: 1em 1em 1em 2em;
    display: grid;
    grid-template-columns: 2fr 5fr;
    border-radius: 20px;
}

.project-title {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0.5em;
}

.project-quick-info {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

.project-media-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .8em;
}

.project-media {
    max-width: 200px;
    max-height: 200px;
}

.project-links a {
    text-decoration: none;
}

.button-call-to-action {
    background: var(--white);
    border: none;
    color: var(--black);
    padding: .5em 1.8em;
    margin-right: 1em;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

.button-call-to-action:hover {
    opacity: .7;
    /* background: var(--soft-blue); */
}


/* ------------------------------------------------------------------------------- */
/* ABOUT ME SECTION */
/* ------------------------------------------------------------------------------- */
.about-me-section {
    width: 90vw;
    height: 100vh;
    margin: 2em;
    padding: 2em 20em;
    display: grid;
    justify-content: center;
    align-items: center;
    /* display: flex;
    flex-direction: column;
    align-items: space-between; */
}

.introduction {
    font-size: 3em;
    line-height: 1.2em;
}

.my-name {
    /* color: var(--neon-yellow); */
    color: var(--neon-green);
}

.about-me-content {
    display: grid;
    justify-content: center;
    align-items: center;
}

.about-section {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 20em;
}

.about-me-description {
    margin-top: 2em;
    font-size: 1.2em;
    line-height: 1em;
}

.skill-section {
    margin-top: 2em;
    /* padding: 0 3em; */
    display: flex;
    gap: 2em;
    justify-content: space-around;
}

.skills {
    display: flex;
    flex-direction: row;
    gap: .5em;
}

.skill-grouping {
    margin-right: 2em;
}

.skills li {
    list-style: none;
    font-size: 1.1em;
    color: #a5b8c8;
}

.skills ul {
    border-left: 1px solid var(--soft-blue);
    margin-top: .5em;
    margin-left: 1em;
    padding-left:1em;
}

.programming-language {
    font-weight: 600;
    /* color: var(--soft-green); */
    /* color: #a5b8c8; */
    color: #ededed;
    font-size: 1.2em;
}

.tools {
    margin-left: 2em;
    /* color: var(--soft-green); */
    color: #a5b8c8;
}


#button-contact-me {
    background: var(--white);
    color: var(--black);
    border: none;
    padding: .5em 1.2em;
border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 400;
}

#button-contact-me:hover {
    opacity: .7;
}

/* ------------------------------------------------------------------------------- */
/* CONTACT SECTION */
/* ------------------------------------------------------------------------------- */
.contact-section {
    padding: .1em;
    /* background: gray; */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.socials-list-section {
    display: grid;
    padding: 1em;
    width: 100%;
    height: 70%;
}

.my-socials {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: start;
    font-size: 1.7em;
}

.socials1, .socials2, .socials3 {
    display: flex;
}

.social-info {
    margin-left: .8em;
    font-size: 0.6em;
}

.social-header {
    /* font-size: 1.2em; */
    margin-bottom: .1em;
    text-transform: capitalize;;
    color: var(--light-gray);
}

.contact-me {
    border-radius: 10px;
    padding: 1.5em;
    display: grid;
    align-items: center;
}

#contact-header p{
    font-size: 1.5em;
    margin-bottom: .8em;
    text-transform: capitalize;
    color: var(--light-gray);
}

.contact-form-email {
    display: grid;
    grid-template-rows: repeat(5, auto);
}

.contact-form-email input, .contact-form-email textarea {
    background-color: var(--dark-gray);
    padding: .5em;
    font-size: 15px;
    outline: none;
    backdrop-filter: blur(20px);
    border: 1px solid #3a3a3a;
    border-radius: 5px;
}

.contact-me-button-container {
    display: grid;
    justify-content: center;
    width: 100%;
}

#button-send-email {
    background: var(--white);
    border: none;
    color: var(--black);
    padding: .5em 1.8em;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
}

#button-send-email:hover {
    opacity: .7;
}