:root {
    /* --white: #dfdfdf; */
    --white: #afbbbd;
    --black: #0a0a0a;
    --black: #181a1b;
    --black: #111111;
    /* --black: #05090a; */
    --washed-black: #1a2121;
    --dark-gray: #212221;
    --washed-grey: #222222;
    --light-gray: #dadada;

    --dark-teal: #266677;
    --marathon-yellow: #cfff00;
    --soft-neon-yellow: #f8f801;
    --neon-yellow: #fffb29;
    /* --soft-red: #fd4d5a; */
    /* --soft-red: #ff001e; */

    --blue-gray: #b6bec8;
    /* gradient */
    --gd1: #d2d4d5;
    --gd2: #a9abb0;
    --gd3: #bdbdc6;
}

* {
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
}

::selection {
    background: #a5b8c8;
    color: var(--black);
}

/* ------------------------------------------------------------------------------- */
/* MAIN */
/* ------------------------------------------------------------------------------- */
body::-webkit-scrollbar {
    display: none;
}

body {
    padding: 0 3em 0 1em; 
	background-size: 400% 400%;
	height: 100vh;
    background: var(--black);

    display: grid;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------------------------------------- */
/* MEDIA QUERIES */
/* ------------------------------------------------------------------------------- */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/* ------------------------------------------------------------------------------- */
/* NAVIGATION BAR */
/* ------------------------------------------------------------------------------- */
.sidebar {
    margin: 1em .5em;
    padding: 1em 0 1em 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 97%;
    width: 3.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    /* border: solid #2f2f31 .5px;
    border-radius: 10px;
    background: var(--dark-gray);
    background: #191919; */
}

#logo-button {
    margin-top: 1.5em;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    /* align-items: space-between; */
    position: fixed;
    bottom: 3em;
    gap: 2em;
}

.nav-list li {
    text-decoration: none;
    margin: .5em 0;
}

.socials-nav {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
}

/* ------------------------------------------------------------------------------- */
/* LANDING PAGE SECTION */
/* ------------------------------------------------------------------------------- */
.landing-page-container {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    /* background: var(--light-gray); */
    /* background-color: #0e191e; */

    /* Crosshair pattern */
    /* background-image:
        linear-gradient(45deg, rgba(26, 26, 26, 0.35) 4px, transparent 4px),
        linear-gradient(-45deg, rgba(34, 34, 34, 0.35) 4px, transparent 4px);

    background-size: 60px 60px;
    background-position: 0 0, 0 0; */
}

/* ------------------------------------------------------------------------------- */
/* PROJECT SECTION */
/* ------------------------------------------------------------------------------- */
.project-list-container {
    width: 100%;
    height: 100vh;
    margin: 2em;
    padding: 2em 7em;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-content: center;
    align-items: center;
    gap: 5em;
    --black: #0a0a0a;

    /* display: flex;
    justify-content: space-around; */
    /* min-height: 100vh; */

    /* Crosshair pattern */
    /* background-image:
        linear-gradient(45deg, rgba(26, 26, 26, 0.35) 4px, transparent 4px),
        linear-gradient(-45deg, rgba(34, 34, 34, 0.35) 4px, transparent 4px);
    background-size: 60px 60px;
    background-position: 0 0, 0 0; */

}

.project-list-items {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: .1em;
    width: 100%;
}

.project-icon-card {
    width: 150px;
    height: 180px;
    padding: 24px;
    /* background: #bbc9c7; */
    background: #181f1f;
    background: var(--washed-grey);
    box-shadow: 0 20px 40px rgba(0,0,0,0.02);
    clip-path: polygon(
        5% 92%, 
        2% 90%, 
        2% 50%, 
        12% 50%, 
        12% 36%, /* start of left inset (bottom) */
        14% 36%, 
        14% 24%, 
        12% 24%, /* end of left inset (top) */
        12% 9%, 
        14% 7%, 
        79% 7%, 
        87% 16%, 
        87% 34%, /* start of right inset (top) */
        86% 34%, 
        86% 38%, 
        87% 38%, /* start of right inset (bottom) */
        87% 92%
    );
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(13.6px);
}

.project-icon-container {
    position: relative;
    top: 4px;
    left: 4px;
    width: 90%;
    height: 98%;
    border-radius: 5px;
    backdrop-filter: blur(13.6px);
    /* border: .2px solid var(--dark-gray); */
    border: .2px solid var(--black);
    background: #131919;
    background: #1c1c1c;

    /* background: #dfeae8;
    background: #475a61;
    opacity: .5; */
}

.data-slot {
    position: relative;
    bottom: 38px;
    left: -35px;
    width: 50%;
    height: 10%;
    rotate: 270deg;
    background: #f5dc8a;
    background: #a5a5a5;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.data-slot-separator {
    rotate: 270deg;
    width: 100%;
    height: 11%;
    background: var(--dark-gray);
}

.container-posters {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

iframe {
    border: none;
    object-fit: fit;
    width: 100%;
    height: 100%;
}

.project-title {
    font-size: 1.1em;
    font-weight: 500;
    background: var(--washed-grey);
    background: #1d1d1d;
    width: 100%;
    padding: .5em;
}

.project-information-container {
    display: grid;
    grid-template-rows: 1fr 3fr;
    /* margin-top: .5em; */
    background: var(--black);
    border: 1.5px solid var(--dark-gray);
    width: 100%;
    height: 100%;
}

.project-description {
    padding: .8em;
    font-size: 0.9em;
    line-height: 1.2em;
}

.project-cta {
    margin-left: 1em;
    display: flex;
    justify-self: start;
    gap: .7em;
}

.project-github-btn, .project-live-btn {
    padding: .3em;
    border: none;
    color: var(--white);
    cursor: pointer;
}

#project-github-button {
    font-size: 1.2em;
    margin-top: .5em;
}

.live_btn {
    width: 100%;
    padding: .5em .7em .5em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

    background: #2c1819;
    border: 1px solid rgba(215,71,46, 0.9);
    border-radius: 5%;
    color: #d7472e;
}

.live_btn:hover {
    background: #d7472e;
    color: var(--black);
    border: 1px solid rgba(215,71,46, 0.9);
}

/* ------------------------------------------------------------------------------- */
/* ABOUT ME SECTION */
/* ------------------------------------------------------------------------------- */
.about-me-section {
    width: 90vw;
    height: 100vh;
    margin: 2em;
    padding: 2em 20em;
    display: grid;
    justify-content: center;
    align-items: center;
    /* display: flex;
    flex-direction: column;
    align-items: space-between; */
}

.introduction {
    font-size: 3em;
    line-height: 1.2em;
}

.my-name {
    /* color: var(--dark-teal);
    color: var(--cadmium-yellow); */

    /* background: linear-gradient(90deg, #fd6644, #ff213c 12%, #fd6644 25%, #fc906c 45%, #ebbbba 80%); */
    /* background: linear-gradient(90deg, #fc906c, #ff213c 12%, #fd6644 20%, #fc906c 35%, #ebbbba 80%, #e2cadf 100%); */
    /* background: radial-gradient(circle, #e2cadf, #fc906c, #ff213c, #ebbbba); */
    /* background: radial-gradient(circle, #ff213c 10%, #fd6644 64%, #fc906c 79%, #ebbbba 100%); */
    /* background: radial-gradient(circle, #ff213c 10%, #fd6644 64%, #fc906c 79%, #ebbbba 100%); */
    /* background: linear-gradient(270deg, #bfff00 70%, #c1fc1d 100%); */
    /* background: linear-gradient(270deg, #bfff00 31%, #dadada 100%); */
    background: linear-gradient(270deg, #bfff00 70%, #dadada 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-me-content {
    display: grid;
    justify-content: center;
    align-items: center;
}

.about-section {
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 20em;
}

.about-me-description {
    margin-top: 2em;
    font-size: 1.2em;
    line-height: 1em;
}

.skill-section {
    margin-top: 2em;
    /* padding: 0 3em; */
    display: flex;
    gap: 2em;
    justify-content: space-around;
}

.skills {
    display: flex;
    flex-direction: row;
    gap: .5em;
}

.skill-grouping {
    margin-right: 2em;
}

.skills li {
    list-style: none;
    font-size: 1.1em;
    color: #a5b8c8;
}

.skills ul {
    border-left: 1px solid var(--white);
    margin-top: .5em;
    margin-left: 1em;
    padding-left:1em;
}

.programming-language {
    font-weight: 600;
    /* color: var(--soft-green); */
    /* color: #a5b8c8; */
    color: #ededed;
    font-size: 1.2em;
}

.tools {
    margin-left: 2em;
    /* color: var(--soft-green); */
    color: #a5b8c8;
}


#button-contact-me {
    background: var(--white);
    color: var(--black);
    border: none;
    padding: .5em 1.2em;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 400;
}

#button-contact-me:hover {
    opacity: .7;
}

/* ------------------------------------------------------------------------------- */
/* CONTACT SECTION */
/* ------------------------------------------------------------------------------- */
.contact-section {
    padding: .1em;
    /* background: gray; */
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
    justify-content: center;
    align-items: center;
}

.socials-list-section {
    display: grid;
    padding: 1em;
    width: 100%;
    height: 70%;
}

.my-socials {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: start;
    font-size: 1.7em;
}

.socials1, .socials2, .socials3 {
    display: flex;
}

.social-info {
    margin-left: .8em;
    font-size: 0.6em;
}

.social-header {
    /* font-size: 1.2em; */
    margin-bottom: .1em;
    text-transform: capitalize;;
    color: var(--light-gray);
}

.contact-me {
    border-radius: 10px;
    padding: 1.5em;
    display: grid;
    align-items: center;
}

#contact-header p{
    font-size: 1.5em;
    margin-bottom: .8em;
    text-transform: capitalize;
    color: var(--light-gray);
}

.contact-form-email {
    display: grid;
    grid-template-rows: repeat(5, auto);
}

.contact-form-email input, .contact-form-email textarea {
    background-color: var(--dark-gray);
    padding: .5em;
    font-size: 15px;
    outline: none;
    backdrop-filter: blur(20px);
    border: 1px solid #3a3a3a;
}

.contact-me-button-container {
    display: grid;
    justify-content: center;
    width: 100%;
}

#button-send-email {
    background: var(--dark-gray);
    border: none;
    color: var(--white);
    padding: .8em 2em;
    cursor: pointer;
    font-weight: 300;
}

#button-send-email:hover {
    opacity: .7;
    background: var(--white);
    color: var(--black);
}

/* ------------------------------------------------------------------------------- */
/* CSS CARD */
/* ------------------------------------------------------------------------------- */
