{% extends "index.html" %}

{% block content %}
<body>
    <div class="landing-page-section">
        <div class="introduction">
            <!-- <h1 class="my-name">Lucas Torres</h1> -->
            <p class="intro">Hi, I'm</p>
            <p class="my-name">C.V. Lucas Torres.</p>
            <p class="aspiration">An aspiring <span id="profession">software engineer</span> based in Toronto.</p>
            <div class="info">
                <a href="#project-header"><button id="to-projects">Projects</button></a>
            </div>
        </div>
    </div>

    <div class="about-section">
        <div class="section-headers" id="about-header">
            <p>About</p>
        </div>

        <div class="section-content">
            <div id="about-me-content">
                <p class="section-title section-about-me">Who am I</p>
                <p>
                    Greetings! I'm Carlos Victor, a software engineer with a passion in building products from start to finish that focus on solving real world problems.
                    <br>
                    <br>

                    After completing my capstone project for the UX Design course, I realized that my passion wasn't in design but in building products. Designing is fun, but, building products from scratch and solving complex problems along the way is far more fulfilling. I believe that most problems can be solved using technology. Therefore, I'm always thrilled to spend my free time learning new languages, skills, and build projects to hone my craft.

                    <br>
                    <br>
                    When I'm not coding, you can find me playing chess, video games, or learning game theory.
                </p>
            </div>
            <div class="skill-section">
                <p class="section-title section-skills">Skills</p>
                <p>Here are a few technologies I've been working with recently:</p>
                <div class="skills">
                    <ul>
                        <li>Python</li>
                        <li>C++</li>
                        <li>Django</li>
                    </ul>
                    <ul>
                        <li>SQL</li>
                        <li>Linux</li>
                        <li>Git</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="socials">
            <ul>
                <li>
                    <a href="https://www.linkedin.com/in/cvlucastorres/" target="_blank" rel="noopener noreferrer"
                        class="socials linkedin">
                        <i class='bx bxl-linkedin-square icons' id="linkedin-btn"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/imcvlucas" target="_blank" rel="noopener noreferrer"
                        class="socials github">
                        <i class='bx bxl-github icons' id="github-btn"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="contact-section">
            <div class="contact-me">
                <div class="section-headers" id="contact-header">
                    <p>Get in touch</p>
                </div>
                <form method="POST" class="contact-form-email">
                    {% csrf_token %}
                    {% for field in form %}
                        {{ field }}
                        <br>
                    {% endfor %}
                    <div class="contact-me-btn-container">
                        <input type="submit" class="contact-form send-email-btn" value="Submit">
                    </div>
                </form>	
            </div>
        </div>
    </div>
</body>

{% endblock %}