{% extends "index.html" %}

{% block content %}
<body>
    <div class="about-me-section">
        <div class="about-me-content">
            <div class="landing-page-section">
                <div class="introduction">
                    <p class="intro">Hello, I'm</p>
                    <p class="my-name">Carlos Victor Torres</p>
                    <p class="aspiration">A <span id="profession">software developer</span> based in Toronto.</p>
                </div>
            </div>

            <div class="about-section">
                <div class="section-content">
                    <div class="about-me-description">
                        <p>
                            Greetings! I'm Carlos Victor, a software engineer with a passion in building products from start to finish that focus on solving real world problems.
                            <br>
                            <br>

                            After completing my capstone project for the UX Design course, I realized that my passion wasn't in design but in building products. Designing is fun, but, building products from scratch and solving complex problems along the way is far more fulfilling. I believe that most problems can be solved using technology. Therefore, I'm always thrilled to spend my free time learning new languages, skills, and build projects to hone my craft.

                        </p>
                    </div>
                    <div class="skill-section">
                        <div class="skills">
                            <div class="skill-grouping">
                                <p class="programming-language">Python</p>
                                <ul>
                                    <li>Django</li>
                                    <li>Matplotlib</li>
                                    <li>Numpy</li>
                                    <li>Pandas</li>
                                </ul>
                            </div>
                            <div class="skill-grouping">
                                <p class="programming-language">C++</p>
                                <ul>
                                    <li>SFML</li>
                                    <li>SDL</li>
                                </ul>
                            </div>
                            <div class="skill-grouping">
                                <p class="programming-language">Java</p>
                                <ul>
                                    <li>Django</li>
                                </ul>
                            </div>
                            <div class="skill-grouping">
                                <p class="programming-language">Assembly</p>
                                <ul>
                                    <li>VHDL</li>
                                    <li>Verilog</li>
                                </ul>
                            </div>
                            <div>
                                <p class="tools">SQL</p>
                                <p class="tools">Linux</p>
                                <p class="tools">Git</p>
                                <p class="tools">Figma</p>
                                <p class="tools">UX/UI</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="contact-section">
                    <div class="socials-list-section">
                        <div class="my-socials">
                            <div class="socials1 socials-email">
                                <a href="https://www.linkedin.com/in/cvlucastorres/" target="_blank" rel="noopener noreferrer"
                                    class="socials linkedin">
                                    <i class='fa-solid fa-envelope' id="button-email-about-me"></i>
                                </a>
                                <div class="social-info">
                                    <p class="social-header">email</p>
                                    <p>imcarlosvictor@gmail.com</p>
                                </div>
                            </div>
                            <div class="socials2 socials-linkedin">
                                <a href="https://www.linkedin.com/in/cvlucastorres/" target="_blank" rel="noopener noreferrer"
                                    class="socials linkedin">
                                    <i class='fa-brands fa-linkedin-in' id="button-linkedin-about-me"></i>
                                </a>
                                <div class="social-info">
                                    <p class="social-header">linkedin</p>
                                    <p>www.linkedin.com/in/imcarlosvictor</p>
                                </div>
                            </div>
                            <div class="socials3 socials-github">
                                <a href="https://www.linkedin.com/in/cvlucastorres/" target="_blank" rel="noopener noreferrer"
                                    class="socials linkedin">
                                    <i class='fa-brands fa-github' id="button-github-about-me"></i>
                                </a>
                                <div class="social-info">
                                    <p class="social-header">github</p>
                                    <p>github.com/imcarlosvictor</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="contact-me">
                        <div id="contact-header">
                            <p>Get in touch</p>
                        </div>
                        <form method="POST" class="contact-form-email">
                            {% csrf_token %}
                            {% for field in form %}
                                {{ field }}
                                <br>
                            {% endfor %}
                            <div class="contact-me-button-container">
                                <input type="submit" id="button-send-email" value="Send Message">
                            </div>
                        </form>	
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

{% endblock %}