:root {
    --white: #dfdfdf;
    --black: #181818;
    --dark-gray: #212221;
    --soft-blue: #cacce1;
}

* {
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
}

/* ------------------------------------------------------------------------------- */
/* MAIN */
/* ------------------------------------------------------------------------------- */
body::-webkit-scrollbar {
    display: none;
}

body {
    height: 100%;
    background: var(--black);
    padding: 4em;
}

/* ------------------------------------------------------------------------------- */
/* Project Section */
/* ------------------------------------------------------------------------------- */

.breakpoint {
    border: var(--dark-gray) 1px solid;
    margin: 1.2em 0;
}

.project-item {
    padding-left: 3em;
    display: grid;
    grid-template-columns: 2fr 5fr;
    /* border-top: var(--dark-gray) 1px solid;
    border-bottom: var(--dark-gray) 1px solid; */
}

.project-quick-info {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
}

.project-images {
    max-width: 300px;
    max-height: 200px;
}