:root {
    --white: #dfdfdf;
    --black: #181818;
    --dark-gray: #212221;
    --soft-blue: #cacce1;
}

* {
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
}

/* ------------------------------------------------------------------------------- */
/* MAIN */
/* ------------------------------------------------------------------------------- */
body::-webkit-scrollbar {
    display: none;
}

body {
    height: 100%;
    background: var(--black);
}