{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carlos Victor Torres</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Bai Jamjuree Google Font-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <a name="top"></a>

	<!-- NAVIGATION BAR-->
	<div class="sidebar">
		<!-- <ul class="nav_list">
			<li>
				<a href="#top">
					<img src="{% static 'media/icons/favicon-32x32.png' %}" alt="logo" class="icons" id="menu-btn">
				</a>
			</li>
			<li>
				<a href="#about-header">
					<i class='bx bxs-smile icons' id="about-btn"></i>
				</a>
				<span class="tooltip">About</span>
			</li>
			<li>
				<a href="#project-header">
					<i class='bx bxs-book-alt icons' id="projects-btn"></i>
				</a>
				<span class="tooltip">Projects</span>
			</li>
			<li>
				<a href="#contact-header">
					<i class='bx bxs-contact icons' id="contact-btn"></i>
				</a>
				<span class="tooltip">Contact</span>
			</li>
			<li>
				<a href="#">
					<button id="resume-btn">
						<i class='bx bx-clipboard icons' id="resume-icon" style='color:#4b9cd3'></i>
					</button>
				</a>
				<span class="tooltip" id="resume-tooltip">Resume</span>
			</li>
		</ul> -->

		<!-- Resume -->
		<!-- <div class="modal-container" id="modal_container">
			<div class="modal">
				<iframe src="{% static 'media/file/10102023_SWE_Resume.pdf' %}" width="100%" height="100%"></iframe>
				<button id="button-close-resume">Close</button>
			</div>
		</div> -->

		<!-- <div class="socials">
			<ul>
				<li>
					<a href="https://www.linkedin.com/in/cvlucastorres/" target="_blank" rel="noopener noreferrer"
						class="socials linkedin">
						<i class='bx bxl-linkedin-square icons' id="linkedin-btn"></i>
					</a>
				</li>
				<li>
					<a href="https://github.com/imcvlucas" target="_blank" rel="noopener noreferrer"
						class="socials github">
						<i class='bx bxl-github icons' id="github-btn"></i>
					</a>
				</li>
			</ul>
		</div> -->
	</div>

	<!-- LANDING PAGE -->
	<div class="landing-page-container">
		<div class="project-list-container">
            <div class="projects">
                {% for project in projects %}
                <div class="breakpoint"></div>
                    <div class="project-item">
                        <div class="project-quick-info">
                            <p class="project-title">{{ project.title }}</p>
                            <div class="project-summary">
                                <p>{{ project.description }}</p>
                            </div>
                            <div class="project-links">
                                <a href="{{ project.github_url }}" target="_blank" rel="noopener noreferrer">
                                    <button class="button-call-to-action view-code">Code</button>
                                </a>
                                <a href="{{ project.live_url }}" target="_blank" rel="noopener noreferrer">
                                    <button class="button-call-to-action view-code">Live</button>
                                </a>
                            </div>
                        </div>
                        <div class="project-media">
                            <img src="{{ project.image.url }}" alt="{{ project.title }}" image class="project-images">
                        </div>
                    </div>

                    <!-- <div onclick="change_project_details({{ project.id }})" class="project-block">
                        <div class="project-counter">
                            <p>0{{ project.id }}</p>
                            <div class="project-icon">
                                <p class="project-title">{{ project.title }}</p>
                            </div>
                        </div>
                    </div> -->
                {% endfor %}
                <div class="breakpoint"></div>
            </div>
		</div>
	</div>

	<script>
		const accordionItemHeaders = document.querySelectorAll(".accordion-item-header");

		accordionItemHeaders.forEach(accordionItemHeader => {
			accordionItemHeader.addEventListener("click", event => {

				// Uncomment in case you only want to allow for the display of only one collapsed item at a time!

				const currentlyActiveAccordionItemHeader = document.querySelector(".accordion-item-header.active");
				if(currentlyActiveAccordionItemHeader && currentlyActiveAccordionItemHeader!==accordionItemHeader) {
				  currentlyActiveAccordionItemHeader.classList.toggle("active");
				  currentlyActiveAccordionItemHeader.nextElementSibling.style.maxHeight = 0;
				}

				accordionItemHeader.classList.toggle("active");
				const accordionItemBody = accordionItemHeader.nextElementSibling;
				if(accordionItemHeader.classList.contains("active")) {
					accordionItemBody.style.maxHeight = accordionItemBody.scrollHeight + "px";
				}
				else {
					accordionItemBody.style.maxHeight = 0;
				}

			});
		});

		var form_fields = document.querySelector(".contact-form-email").getElementsByTagName("input");
		var text_field = document.getElementById("id_message");
		form_fields[1].placeholder = "Name";
		form_fields[2].placeholder = "Email";
		form_fields[3].placeholder = "Company";
		text_field.placeholder = "Shoot me a message!";

		// Modal settings
		const open = document.getElementById("resume-btn");
		const modal_container = document.getElementById("modal_container");
		const close = document.getElementById("close");

		open.addEventListener("click", () => {
			modal_container.classList.add("show");
		});

		close.addEventListener("click", () => {
			modal_container.classList.remove("show");
		});
	</script>

	<script>
		let btn = document.getElementsByClassName("project-grid-btn");
		var project_data = JSON.parse("{{ project_data_JSON|escapejs }}");

		function change_project_details(project_id) {
				document.getElementById("project-image").src = project_data[project_id]['image'];
				document.getElementById("project-codename").innerHTML = project_data[project_id]['title'];
				document.getElementById("project-date").innerHTML = project_data[project_id]['year'];
				document.getElementById("project-tech").innerHTML = project_data[project_id]['tech_stack'].join(', ');
				document.getElementById("project-lib").innerHTML = project_data[project_id]['libraries'].join(', ');
				document.getElementById("project-description").innerHTML = project_data[project_id]['description'];

				// Project status
				if (project_data[project_id]['status']) {
					document.getElementById("project-status").innerHTML = "Completed";
				} else {
					document.getElementById("project-status").innerHTML = "In progress";
				}

				// Live URL button
				if (project_data[project_id]['live_url'] === null) {
					document.getElementById("view-live-btn").style = "pointer-events: none; cursor: default";
				} else {
					document.getElementById("view-live-btn").style = "pointer-events: auto; cursor: pointer";
					document.getElementById("view-live-btn").href = project_data[project_id]['live_url'];
				}

				// Code URL Button
				if (project_data[project_id]['code_url'] === null) {
					document.getElementById("view-code-btn").style = "pointer-events: none; cursor: not-allowed;";
				} else {
					document.getElementById("view-code-btn").style = "pointer-events: auto; cursor: pointer";
					document.getElementById("view-code-btn").href = project_data[project_id]['code_url'];
				}
		};

		<!-- Default Values -->
		change_project_details(1);
	</script>

</body> 

</html>